---
export interface Props {
	titleDe?: string;
	titleEn?: string;

	buttonTextDe?: string;
	buttonTextEn?: string;
	buttonLink?: string;
	hideButton?: boolean;
	align: "left" | "right" | "left-no-fade";
	isH1?: boolean;
}

const {
	titleDe,
	titleEn,
	align,
	buttonLink,
	hideButton,
	buttonTextDe,
	buttonTextEn,
	isH1,
} = Astro.props;

let { lang } = Astro.params;
lang = lang || "de";
---

<section
	class={align == "left"
		? "flex xl:animate-fadeInLeft animate-fadeIn flex-col items-center xl:items-start xl:flex-row"
		: align == "right"
		? "flex xl:animate-fadeInRight animate-fadeIn flex-col items-center xl:items-start xl:flex-row-reverse"
		: "flex animate-fadeIn flex-col items-center xl:items-start xl:flex-row"}
>
	<div
		class="flex flex-col xl:w-full xl:mx-20 md:mx-10 mx-5 xl:mt-20 md:mt-10 mt-5 items-start text-left"
	>
		{
			isH1 ? (
				<h1 class="text-white lg:text-7xl md:text-5xl text-4xl font-grotesque font-extrabold xl:mb-8 md:mb-4 mb-2">
					{lang == "de" ? titleDe : titleEn}
				</h1>
			) : (
				<h2 class="text-white lg:text-7xl md:text-5xl text-4xl font-grotesque font-extrabold xl:mb-8 md:mb-4 mb-2">
					{lang == "de" ? titleDe : titleEn}
				</h2>
			)
		}

		<span class="text-gray-400 lg:text-xl md:text-lg sm:text-base text-sm">
			{lang == "de" ? <slot name="descDe" /> : <slot name="descEn" />}
		</span>
		{
			!hideButton ? (
				
			isH1 ? <h2 class="lg:px-6 lg:py-4 px-3 py-4 rounded-lg text-white font-semibold lg:mt-8 mt-4 cursor-pointer hover:scale-105 transition-transform bg-gradient-to-br from-customBlue to-customPurple shadow-lg shadow-black"></div>
					<a
						href={buttonLink}
						title={lang == "de" ? buttonTextDe : buttonTextEn}
					>
						{lang == "de" ? buttonTextDe : buttonTextEn}
					</a>
				</h2> : <h3 class="lg:px-6 lg:py-4 px-3 py-4 rounded-lg text-white font-semibold lg:mt-8 mt-4 cursor-pointer hover:scale-105 transition-transform bg-gradient-to-br from-customBlue to-customPurple shadow-lg shadow-black">
					<a
						href={buttonLink}
						title={lang == "de" ? buttonTextDe : buttonTextEn}
					>
						{lang == "de" ? buttonTextDe : buttonTextEn}
					</a>
				</h3>
			
			) : null
		}
	</div>
	<div
		class="flex flex-col xl:w-full md:w-[65%] sm:w-[70%] w-[90%] xl:px-20 md:px-10 px-5 xl:pt-28 md:pt-14 pt-5 md:justify-start justify-center"
	>
		<slot name="extraContent" />
	</div>
</section>
