---
import i18next, { t } from "i18next";
import Template from "../template/Template.astro"

---

<Template title={t("index.title")} description={t("index.description")} keywords={t("index.keywords")}>
	<h1>
		Hello World!
	</h1>
</Template>   