---
import Icon from "astro-icon";
---

<div class="flex items-center cursor-pointer">
	<Icon name="mdi:menu" class="h-10" />
	<div
		class="hidden right-0 top-0 h-full w-[80%] ml-auto bg-primary group-hover:fixed"
	>
	</div>
</div>
