---
export interface Props {
	text: string;
	link: string;
}

let { text, link } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;

let { lang } = Astro.params;
lang = lang || "de";
---

<li class="group py-2 px-2 mx-4 lg:my-0 my-2">
	<a
		href={"/" + lang + "/" + (link == "/" ? "" : link)}
		class={`lg:text-xl text-3xl font-inter font-semibold group-hover:border-b-2 lg:py-2 py-1 border-[#00d8f9] group-hover:py-1 transition-[padding-top,padding-bottom] cursor-pointer ${
			pathname.match(new RegExp(`^\/?(de|en)?\/${link}?\/?$`))
				? "border-b-2"
				: ""
		}`}
	>
		{text}
	</a>
</li>
