---
import MobileNavbar from "./MobileNavbar.astro";
import NavbarItems from "./NavbarItems.astro";
import { Icon } from "astro-icon";
import Seperator from "./Seperator.astro";

let { lang } = Astro.params;
lang = lang || "de";
---

<head>
	<script>
		const buttons = document.querySelectorAll("[data-mobileNavbar-button]");
		const mobileMenu = document.querySelectorAll("[data-mobileNavbar]");
		const mobileMenuUl = document.querySelectorAll(
			"[data-mobileNavbar] > ul"
		);

		buttons.forEach((button) => {
			button.addEventListener("click", () => {
				mobileMenu.forEach((menu) => {
					menu.classList.toggle("hidden");
					menu.classList.toggle("flex");
					menu.classList.toggle("fixed");
					mobileMenuUl.forEach((ulElement) => {
						ulElement.classList.toggle("animate-slideInRight");
					});
				});
			});
		});
	</script>
</head>

<nav
	class="h-[80px] px-2 mx-5 py-2 flex flex-row justify-between text-[white] overflow-clip items-center"
>
	<div
		class="h-full flex items-center md:text-3xl text-2xl font-bold font-default"
	>
		<header class="-mb-2">Niklas Ahlers</header>
	</div>

	<button
		class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg lg:hidden focus:outline-none hover:text-white transition-colors"
		onclick=""
		data-mobileNavbar-button
	>
		<span class="sr-only">Open main menu</span>
		<Icon name="mdi:menu" class="h-11" />
	</button>
	<div
		class="hidden w-full lg:flex lg:w-auto lg:h-full lg:justify-center lg:bg-transparent bg-[#00000055] h-screen right-0 top-0 z-10 lg:z-0 transition-colors lg:transition-none lg:relative"
		data-mobileNavbar
	>
		<ul
			class="justify-self-center flex lg:flex-row items-center lg:bg-transparent bg-primary w-[85%] lg:w-auto ml-auto lg:animate-none flex-col lg:p-0 py-4 lg:py-0 pt-16"
		>
			<NavbarItems text="Home" link={""} />
			<NavbarItems
				text={lang == "de" ? "Projekte" : "Projects"}
				link={"projects"}
			/>
			<NavbarItems text="Skills" link={"skills"} />
			<NavbarItems
				text={lang == "de" ? "Impressum" : "Contact"}
				link={"imprint"}
			/>
			<button
				class="top-5 right-8 absolute lg:hidden"
				data-mobileNavbar-button
			>
				<span class="sr-only">Close Main Menu</span>
				<Icon name="mdi:close" class="h-11" />
			</button>
		</ul>
	</div>

	<div class="justify-self-end lg:flex hidden">
		<a href="https://github.com/Redacks" target="_blank" title="My Github">
			<Icon
				name="mdi:github"
				class="text-white w-[60px] m-[10px] cursor-pointer"
			/>
		</a>
	</div>
</nav>
<div class="lg:hidden block">
	<Seperator noTopMargin />
</div>
