---
export type Props = {
link: string,
};
---
<div class="group py-2 px-2 mx-4 lg:my-0 my-2">
    <a class="text-accent text-xl font-semibold font-inter group-hover:border-b-2 lg:py-2 py-1 border-primary group-hover:py-1 transition-[padding-top,padding-bottom] cursor-pointer ">
        <slot></slot>
    </a>
</div>