---
import { Icon } from "astro-icon";
import { dateTimeOffset } from "../scripts/dateCalc";
import Seperator from "./Seperator.astro";

export interface Props {
	iconName?: string;
	since: Date;
	title: string;
	desc: string;
}

const { iconName, since, title, desc } = Astro.props;
let { lang } = Astro.params;
lang = lang || "de";
---

<li
	class="w-full flex flex-row md:h-16 h-12 text-white justify-between bg-black bg-opacity-20 md:p-2 p-1 border-primary border-opacity-50 border-y-[1px] hover:bg-opacity-0 cursor-pointer select-none"
>
	<div class="flex flex-row">
		<Icon
			name={iconName}
			class="md:w-12 w-10 p-1 shadow-lg md:rounded-xl rounded-md bg-opacity-25 bg-white"
		/>
		<div class="flex flex-col ml-2 mr-6">
			<span class="text-sm">{title}</span>
			<span class="text-xs text-gray-300"
				>{dateTimeOffset(since, lang)}</span
			>
		</div>
	</div>
	<span class="text-sm">{desc}</span>
</li>
