---
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	return [{ params: { lang: "de" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;
---

<Layout
	titleEn="Niklas Ahlers - 404"
	titleDe="Niklas Ahlers - 404"
	index={false}
	keywordsEn=""
	keywordsDe=""
	descEn="404 - Page"
	descDe="404 - Seite"
>
	<main class="w-full flex items-center flex-col">
		<span
			class="text-white text-[200px] font-grotesque font-extrabold text-transparent bg-clip-text bg-gradient-to-tr from-customBlue to-customPurple"
		>
			404
		</span>
		<span
			class="text-white text-7xl text-center font-grotesque font-semibold -translate-y-12"
		>
			{lang == "de" ? "SEITE NICHT VERFÜGBAR" : "PAGE NOT FOUND"}</span
		>
		<span class="text-gray-400 text-md -translate-y-8">
			{
				lang == "de"
					? "Die angefragte Seite existiert nicht oder wurde gelöscht"
					: "The requested page does not exist or got deleted"
			}
		</span>
	</main>
</Layout>
