---
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	return [{ params: { lang: "de" } }, { params: { lang: "en" } }];
}

let { lang } = Astro.params;
lang = lang || "de";
---

<Layout
	titleDe="Datenschutzerklärung"
	titleEn="Privacy"
	index={false}
	keywordsEn=""
	keywordsDe=""
	descEn="Privacy - Page"
	descDe="Datenschutz - Seite"
>
	<main class="w-full pt-8 overflow-hidden mb-20">
		{
			lang == "en" ? (
				<div class="flex text-white font-inter justify-center">
					<span class="border-red-600 border-4 p-4 rounded text-2xl">
						This site is only available in german!
					</span>
				</div>
			) : (
				""
			)
		}
		<h1
			class="w-full text-center text-white lg:text-7xl text-4xl font-grotesque font-extrabold"
		>
			Datenschutzerklärung
		</h1>
		<div class="flex">
			<div
				class="flex flex-col w-full lg:mx-20 md:mx-10 mx-5 mt-10 items-start"
			>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4"
					id="Einleitung"
				>
					Einleitung
				</span>
				<span class="text-gray-400 lg:text-xl text-base"
					>Mit der folgenden Datenschutzerklärung möchten wir Sie
					darüber aufklären, welche Arten Ihrer personenbezogenen
					Daten (nachfolgend auch kurz als "Daten“ bezeichnet) wir zu
					welchen Zwecken und in welchem Umfang verarbeiten. Die
					Datenschutzerklärung gilt für alle von uns durchgeführten
					Verarbeitungen personenbezogener Daten, sowohl im Rahmen der
					Erbringung unserer Leistungen als auch insbesondere auf
					unseren Webseiten, in mobilen Applikationen sowie innerhalb
					externer Onlinepräsenzen, wie z.B. unserer
					Social-Media-Profile (nachfolgend zusammenfassend bezeichnet
					als "Onlineangebot“). <br /><br />Die verwendeten Begriffe
					sind nicht geschlechtsspezifisch.

					<br />
					<br />
					Stand: 27. Februar 2023
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
				>
					Inhaltsübersicht
				</span>
				<div
					class="text-white lg:text-2xl text-lg font-grotesque font-semibold list-item ml-10 underline"
				>
					<li><a href="#Einleitung">Einleitung</a></li>
					<li><a href="#Verantwortlicher">Verantwortlicher</a></li>
					<li>
						<a href="#Übersicht-der-Verarbeitungen"
							>Übersicht der Verarbeitungen</a
						>
					</li>
					<li>
						<a href="#Maßgebliche-Rechtsgrundlagen"
							>Maßgebliche Rechtsgrundlagen</a
						>
					</li>
					<li>
						<a href="#Sicherheitsmaßnahmen">Sicherheitsmaßnahmen</a>
					</li>
					<li>
						<a href="#Übermittlung-von-personenbezogenen-Daten"
							>Übermittlung von personenbezogenen Daten</a
						>
					</li>
					<li>
						<a href="#Datenverarbeitung-in-Drittländern"
							>Datenverarbeitung in Drittländern</a
						>
					</li>
					<li>
						<a href="#Löschung-von-Daten">Löschung von Daten</a>
					</li>
					<li>
						<a href="#Einsatz-von-Cookies">Einsatz von Cookies</a>
					</li>
					<li>
						<a
							href="#Bereitstellung-des-Onlineangebotes-und-Webhosting"
							>Bereitstellung des Onlineangebotes und Webhosting</a
						>
					</li>
					<li>
						<a href="#Kontakt-und-Anfragenverwaltung"
							>Kontakt- und Anfragenverwaltung</a
						>
					</li>
					<li>
						<a href="#Webanalyse-Monitoring-und-Optimierung"
							>Webanalyse, Monitoring und Optimierung</a
						>
					</li>
					<li>
						<a
							href="#Plugins-und-eingebettete-Funktionen-sowie-Inhalte"
							>Plugins und eingebettete Funktionen sowie Inhalte</a
						>
					</li>
					<li>
						<a
							href="#Änderung-und-Aktualisierung-der-Datenschutzerklärung"
							>Änderung und Aktualisierung der
							Datenschutzerklärung</a
						>
					</li>
					<li>
						<a href="#Rechte-der-betroffenen-Personen"
							>Rechte der betroffenen Personen</a
						>
					</li>
					<li>
						<a href="#Begriffsdefinitionen">Begriffsdefinitionen</a>
					</li>
				</div>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Verantwortlicher"
				>
					Verantwortlicher
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Niklas Ahlers <br />
					Kalkofenstraße 15a<br />
					86438 | Kissing <br />
					<br />
					E-Mail-Adresse:<br />
					<a
						class="underline"
						href="mailto:admin@redacks.com"
						target="_blank">admin@redacks.com</a
					>
					<br /><br />
					Impressum:<br />
					<a
						href={"/" + lang + "/imprint"}
						class="underline"
						target="_blank">www.redacks.com/[de/en]/imprint</a
					>
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Übersicht-der-Verarbeitungen"
				>
					Übersicht der Verarbeitungen
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Die nachfolgende Übersicht fasst die Arten der verarbeiteten
					Daten und die Zwecke ihrer Verarbeitung zusammen und
					verweist auf die betroffenen Personen.
				</span>
				<span
					class="text-white text-4xl font-grotesque font-extrabold mb-4 mt-10"
				>
					Arten der verarbeiteten Daten
				</span>
				<div class="text-gray-400 lg:text-xl text-base list-item ml-10">
					<li>Bestandsdaten</li>
					<li>Kontaktdaten</li>
					<li>Inhaltsdaten</li>
					<li>Nutzungsdaten</li>
					<li>Meta-/Kommunikationsdaten</li>
				</div>
				<span
					class="text-white text-4xl font-grotesque font-extrabold mb-4 mt-10"
				>
					Kategorien betroffener Personen
				</span>
				<div class="text-gray-400 lg:text-xl text-base list-item ml-10">
					<li>Kommunikationspartner</li>
					<li>Nutzer</li>
				</div>
				<span
					class="text-white text-4xl font-grotesque font-extrabold mb-4 mt-10"
				>
					Zwecke der Verarbeitung
				</span>
				<div class="text-gray-400 lg:text-xl text-base list-item ml-10">
					<li>
						Erbringung vertraglicher Leistungen und Kundenservice
					</li>
					<li>Kontaktanfragen und Kommunikation</li>
					<li>Reichweitenmessung</li>
					<li>DDOS und Spam-Schutz</li>
					<li>Profile mit nutzerbezogenen Informationen</li>
					<li>
						Bereitstellung unseres Onlineangebotes und
						Nutzerfreundlichkeit
					</li>
				</div>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Maßgebliche-Rechtsgrundlagen"
				>
					Maßgebliche Rechtsgrundlagen
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Im Folgenden erhalten Sie eine Übersicht der
					Rechtsgrundlagen der DSGVO, auf deren Basis wir
					personenbezogene Daten verarbeiten. Bitte nehmen Sie zur
					Kenntnis, dass neben den Regelungen der DSGVO nationale
					Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder
					Sitzland gelten können. Sollten ferner im Einzelfall
					speziellere Rechtsgrundlagen maßgeblich sein, teilen wir
					Ihnen diese in der Datenschutzerklärung mit.<br /><br />
					<div class="ml-10">
						<li>
							Einwilligung (Art. 6 Abs. 1 S. 1 lit. a. DSGVO) -
							Die betroffene Person hat ihre Einwilligung in die
							Verarbeitung der sie betreffenden personenbezogenen
							Daten für einen spezifischen Zweck oder mehrere
							bestimmte Zwecke gegeben.
						</li>
						<li>
							Vertragserfüllung und vorvertragliche Anfragen (Art.
							6 Abs. 1 S. 1 lit. b. DSGVO) - Die Verarbeitung ist
							für die Erfüllung eines Vertrags, dessen
							Vertragspartei die betroffene Person ist, oder zur
							Durchführung vorvertraglicher Maßnahmen
							erforderlich, die auf Anfrage der betroffenen Person
							erfolgen.
						</li>
						<li>
							Rechtliche Verpflichtung (Art. 6 Abs. 1 S. 1 lit. c.
							DSGVO) - Die Verarbeitung ist zur Erfüllung einer
							rechtlichen Verpflichtung erforderlich, der der
							Verantwortliche unterliegt.
						</li>
						<li>
							Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f.
							DSGVO) - Die Verarbeitung ist zur Wahrung der
							berechtigten Interessen des Verantwortlichen oder
							eines Dritten erforderlich, sofern nicht die
							Interessen oder Grundrechte und Grundfreiheiten der
							betroffenen Person, die den Schutz personenbezogener
							Daten erfordern, überwiegen.
						</li>
					</div>
					<br />
					Zusätzlich zu den Datenschutzregelungen der Datenschutz-Grundverordnung
					gelten nationale Regelungen zum Datenschutz in Deutschland. Hierzu
					gehört insbesondere das Gesetz zum Schutz vor Missbrauch personenbezogener
					Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG).
					Das BDSG enthält insbesondere Spezialregelungen zum Recht auf
					Auskunft, zum Recht auf Löschung, zum Widerspruchsrecht, zur
					Verarbeitung besonderer Kategorien personenbezogener Daten, zur
					Verarbeitung für andere Zwecke und zur Übermittlung sowie automatisierten
					Entscheidungsfindung im Einzelfall einschließlich Profiling.
					Des Weiteren regelt es die Datenverarbeitung für Zwecke des Beschäftigungsverhältnisses
					(§ 26 BDSG), insbesondere im Hinblick auf die Begründung, Durchführung
					oder Beendigung von Beschäftigungsverhältnissen sowie die Einwilligung
					von Beschäftigten. Ferner können Landesdatenschutzgesetze der
					einzelnen Bundesländer zur Anwendung gelangen.
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Sicherheitsmaßnahmen"
				>
					Sicherheitsmaßnahmen
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter
					Berücksichtigung des Stands der Technik, der
					Implementierungskosten und der Art, des Umfangs, der
					Umstände und der Zwecke der Verarbeitung sowie der
					unterschiedlichen Eintrittswahrscheinlichkeiten und des
					Ausmaßes der Bedrohung der Rechte und Freiheiten natürlicher
					Personen geeignete technische und organisatorische
					Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu
					gewährleisten.<br /><br /> Zu den Maßnahmen gehören insbesondere
					die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit
					von Daten durch Kontrolle des physischen und elektronischen Zugangs
					zu den Daten als auch des sie betreffenden Zugriffs, der Eingabe,
					der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung.
					Des Weiteren haben wir Verfahren eingerichtet, die eine Wahrnehmung
					von Betroffenenrechten, die Löschung von Daten und Reaktionen
					auf die Gefährdung der Daten gewährleisten. Ferner berücksichtigen
					wir den Schutz personenbezogener Daten bereits bei der Entwicklung
					bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend
					dem Prinzip des Datenschutzes, durch Technikgestaltung und durch
					datenschutzfreundliche Voreinstellungen.<br /><br /> SSL-Verschlüsselung
					(https): Um Ihre via unserem Online-Angebot übermittelten Daten
					zu schützen, nutzen wir eine SSL-Verschlüsselung. Sie erkennen
					derart verschlüsselte Verbindungen an dem Präfix https:// in
					der Adresszeile Ihres Browsers.
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Übermittlung-von-personenbezogenen-Daten"
				>
					Übermittlung von personenbezogenen Daten
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Im Rahmen unserer Verarbeitung von personenbezogenen Daten
					kommt es vor, dass die Daten an andere Stellen, Unternehmen,
					rechtlich selbstständige Organisationseinheiten oder
					Personen übermittelt oder sie ihnen gegenüber offengelegt
					werden. Zu den Empfängern dieser Daten können z.B. mit
					IT-Aufgaben beauftragte Dienstleister oder Anbieter von
					Diensten und Inhalten, die in eine Webseite eingebunden
					werden, gehören. In solchen Fall beachten wir die
					gesetzlichen Vorgaben und schließen insbesondere
					entsprechende Verträge bzw. Vereinbarungen, die dem Schutz
					Ihrer Daten dienen, mit den Empfängern Ihrer Daten ab.
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Löschung-von-Daten"
				>
					Löschung von Daten
				</span>
				<span class="text-gray-400 lg:text-xl text-base"
					>Die von uns verarbeiteten Daten werden nach Maßgabe der
					gesetzlichen Vorgaben gelöscht, sobald deren zur
					Verarbeitung erlaubten Einwilligungen widerrufen werden oder
					sonstige Erlaubnisse entfallen (z.B. wenn der Zweck der
					Verarbeitung dieser Daten entfallen ist oder sie für den
					Zweck nicht erforderlich sind). Sofern die Daten nicht
					gelöscht werden, weil sie für andere und gesetzlich
					zulässige Zwecke erforderlich sind, wird deren Verarbeitung
					auf diese Zwecke beschränkt. D.h., die Daten werden gesperrt
					und nicht für andere Zwecke verarbeitet. Das gilt z.B. für
					Daten, die aus handels- oder steuerrechtlichen Gründen
					aufbewahrt werden müssen oder deren Speicherung zur
					Geltendmachung, Ausübung oder Verteidigung von
					Rechtsansprüchen oder zum Schutz der Rechte einer anderen
					natürlichen oder juristischen Person erforderlich ist.<br
					/><br />
					Unsere Datenschutzhinweise können ferner weitere Angaben zu der
					Aufbewahrung und Löschung von Daten beinhalten, die für die jeweiligen
					Verarbeitungen vorrangig gelten.
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Datenverarbeitung-in-Drittländern"
				>
					Datenverarbeitung in Drittländern
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Sofern wir Daten in einem Drittland (d.h., außerhalb der
					Europäischen Union (EU), des Europäischen Wirtschaftsraums
					(EWR)) verarbeiten oder die Verarbeitung im Rahmen der
					Inanspruchnahme von Diensten Dritter oder der Offenlegung
					bzw. Übermittlung von Daten an andere Personen, Stellen oder
					Unternehmen stattfindet, erfolgt dies nur im Einklang mit
					den gesetzlichen Vorgaben.<br /><br />
					Vorbehaltlich ausdrücklicher Einwilligung oder vertraglich oder
					gesetzlich erforderlicher Übermittlung verarbeiten oder lassen
					wir die Daten nur in Drittländern mit einem anerkannten Datenschutzniveau,
					vertraglichen Verpflichtung durch sogenannte Standardschutzklauseln
					der EU-Kommission, beim Vorliegen von Zertifizierungen oder verbindlicher
					internen Datenschutzvorschriften verarbeiten (Art. 44 bis 49
					DSGVO, Informationsseite der EU-Kommission: <a
						href="https://ec.europa.eu/info/law/law-topic/data-
					protection/international-dimension-data-protection_de"
						target="_blank"
						class="underline"
						>https://ec.europa.eu/info/law/law-topic/data-
						protection/international-dimension-data-protection_de</a
					>).
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Löschung-von-Daten"
				>
					Löschung von Daten
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Die von uns verarbeiteten Daten werden nach Maßgabe der
					gesetzlichen Vorgaben gelöscht, sobald deren zur
					Verarbeitung erlaubten Einwilligungen widerrufen werden oder
					sonstige Erlaubnisse entfallen (z.B. wenn der Zweck der
					Verarbeitung dieser Daten entfallen ist oder sie für den
					Zweck nicht erforderlich sind).<br /><br />
					Sofern die Daten nicht gelöscht werden, weil sie für andere und
					gesetzlich zulässige Zwecke erforderlich sind, wird deren Verarbeitung
					auf diese Zwecke beschränkt. D.h., die Daten werden gesperrt
					und nicht für andere Zwecke verarbeitet. Das gilt z.B. für Daten,
					die aus handels- oder steuerrechtlichen Gründen aufbewahrt werden
					müssen oder deren Speicherung zur Geltendmachung, Ausübung oder
					Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte
					einer anderen natürlichen oder juristischen Person erforderlich
					ist.<br /><br />
					Unsere Datenschutzhinweise können ferner weitere Angaben zu der
					Aufbewahrung und Löschung von Daten beinhalten, die für die jeweiligen
					Verarbeitungen vorrangig gelten.
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Einsatz-von-Cookies"
				>
					Einsatz von Cookies
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Cookies sind kleine Textdateien, bzw. sonstige
					Speichervermerke, die Informationen auf Endgeräten speichern
					und Informationen aus den Endgeräten auslesen. Z.B. um den
					Login-Status in einem Nutzerkonto, einen Warenkorbinhalt in
					einem E-Shop, die aufgerufenen Inhalte oder verwendete
					Funktionen eines Onlineangebotes speichern. Cookies können
					ferner zu unterschiedlichen Zwecken eingesetzt werden, z.B.
					zu Zwecken der Funktionsfähigkeit, Sicherheit und Komfort
					von Onlineangeboten sowie der Erstellung von Analysen der
					Besucherströme. <br /><br />
					Hinweise zur Einwilligung: Wir setzen Cookies im Einklang mit
					den gesetzlichen Vorschriften ein. Daher holen wir von den Nutzern
					eine vorhergehende Einwilligung ein, außer wenn diese gesetzlich
					nicht gefordert ist. Eine Einwilligung ist insbesondere nicht
					notwendig, wenn das Speichern und das Auslesen der Informationen,
					also auch von Cookies, unbedingt erforderlich sind, um dem den
					Nutzern einen von ihnen ausdrücklich gewünschten Telemediendienst
					(also unser Onlineangebot) zur Verfügung zu stellen. Die widerrufliche
					Einwilligung wird gegenüber den Nutzern deutlich kommuniziert
					und enthält die Informationen zu der jeweiligen Cookie-Nutzung.<br
					/><br /> Hinweise zu datenschutzrechtlichen Rechtsgrundlagen:
					Auf welcher datenschutzrechtlichen Rechtsgrundlage wir die personenbezogenen
					Daten der Nutzer mit Hilfe von Cookies verarbeiten, hängt davon
					ab, ob wir Nutzer um eine Einwilligung bitten. Falls die Nutzer
					einwilligen, ist die Rechtsgrundlage der Verarbeitung Ihrer Daten
					die erklärte Einwilligung. Andernfalls werden die mithilfe von
					Cookies verarbeiteten Daten auf Grundlage unserer berechtigten
					Interessen (z.B. an einem betriebswirtschaftlichen Betrieb unseres
					Onlineangebotes und Verbesserung seiner Nutzbarkeit) verarbeitet
					oder, wenn dies im Rahmen der Erfüllung unserer vertraglichen
					Pflichten erfolgt, wenn der Einsatz von Cookies erforderlich
					ist, um unsere vertraglichen Verpflichtungen zu erfüllen. Zu
					welchen Zwecken die Cookies von uns verarbeitet werden, darüber
					klären wir im Laufe dieser Datenschutzerklärung oder im Rahmen
					von unseren Einwilligungs- und Verarbeitungsprozessen auf.
					<br /><br />
					Speicherdauer: Im Hinblick auf die Speicherdauer werden die folgenden
					Arten von Cookies unterschieden:<br /><br />
					<div class="list-item ml-10">
						<li>
							Temporäre Cookies (auch: Session- oder
							Sitzungs-Cookies): Temporäre Cookies werden
							spätestens gelöscht, nachdem ein Nutzer ein
							Online-Angebot verlassen und sein Endgerät (z.B.
							Browser oder mobile Applikation) geschlossen hat.
						</li>
						<li>
							Permanente Cookies: Permanente Cookies bleiben auch
							nach dem Schließen des Endgerätes gespeichert. So
							können beispielsweise der Login-Status gespeichert
							oder bevorzugte Inhalte direkt angezeigt werden,
							wenn der Nutzer eine Website erneut besucht. Ebenso
							können die mit Hilfe von Cookies erhobenen Daten der
							Nutzer zur Reichweitenmessung verwendet werden.
							Sofern wir Nutzern keine expliziten Angaben zur Art
							und Speicherdauer von Cookies mitteilen (z. B. im
							Rahmen der Einholung der Einwilligung), sollten
							Nutzer davon ausgehen, dass Cookies permanent sind
							und die Speicherdauer bis zu zwei Jahre betragen
							kann.
						</li>
					</div>
					<br />Allgemeine Hinweise zum Widerruf und Widerspruch
					(Opt-Out): Nutzer können die von ihnen abgegebenen
					Einwilligungen jederzeit Widerrufen und zudem einen
					Widerspruch gegen die Verarbeitung entsprechend den
					gesetzlichen Vorgaben im Art. 21 DSGVO einlegen (weitere
					Hinweise zum Widerspruch erfolgen im Rahmen dieser
					Datenschutzerklärung). Nutzer können Ihren Widerspruch auch
					mittels der Einstellungen Ihres Browsers erklären.
					<br /><br />
					Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:<br
					/><br />
					<div class="list-item ml-10">
						<li>
							Verarbeitung von Cookie-Daten auf Grundlage einer
							Einwilligung: Wir setzen ein Verfahren zum
							Cookie-Einwilligungs-Management ein, in dessen
							Rahmen die Einwilligungen der Nutzer in den Einsatz
							von Cookies, bzw. der im Rahmen des
							Cookie-Einwilligungs-Management-Verfahrens genannten
							Verarbeitungen und Anbieter eingeholt sowie von den
							Nutzern verwaltet und widerrufen werden können.
							Hierbei wird die Einwilligungserklärung gespeichert,
							um deren Abfrage nicht erneut wiederholen zu müssen
							und die Einwilligung entsprechend der gesetzlichen
							Verpflichtung nachweisen zu können. Die Speicherung
							kann serverseitig und/oder in einem Cookie
							(sogenanntes Opt-In-Cookie, bzw. mithilfe
							vergleichbarer Technologien) erfolgen, um die
							Einwilligung einem Nutzer, bzw. dessen Gerät
							zuordnen zu können. Vorbehaltlich individueller
							Angaben zu den Anbietern von
							Cookie-Management-Diensten, gelten die folgenden
							Hinweise: Die Dauer der Speicherung der Einwilligung
							kann bis zu zwei Jahren betragen. Hierbei wird ein
							pseudonymer Nutzer-Identifikator gebildet und mit
							dem Zeitpunkt der Einwilligung, Angaben zur
							Reichweite der Einwilligung (z. B. welche Kategorien
							von Cookies und/oder Diensteanbieter) sowie dem
							Browser, System und verwendeten Endgerät
							gespeichert.
						</li>
					</div>
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Bereitstellung-des-Onlineangebotes-und-Webhosting"
				>
					Bereitstellung des Onlineangebotes und Webhosting
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Um unser Onlineangebot sicher und effizient bereitstellen zu
					können, nehmen wir die Leistungen von einem oder mehreren
					Webhosting-Anbietern in Anspruch, von deren Servern (bzw.
					von ihnen verwalteten Servern) das Onlineangebot abgerufen
					werden kann. Zu diesen Zwecken können wir Infrastruktur- und
					Plattformdienstleistungen, Rechenkapazität, Speicherplatz
					und Datenbankdienste sowie Sicherheitsleistungen und
					technische Wartungsleistungen in Anspruch nehmen.<br /><br
					/>
					Zu den im Rahmen der Bereitstellung des Hostingangebotes verarbeiteten
					Daten können alle die Nutzer unseres Onlineangebotes betreffenden
					Angaben gehören, die im Rahmen der Nutzung und der Kommunikation
					anfallen. Hierzu gehören regelmäßig die IP-Adresse, die notwendig
					ist, um die Inhalte von Onlineangeboten an Browser ausliefern
					zu können, und alle innerhalb unseres Onlineangebotes oder von
					Webseiten getätigten Eingaben.<br /><br />
					<div class="list-item ml-10">
						<li>
							Verarbeitete Datenarten: Inhaltsdaten (z.B. Eingaben
							in Onlineformularen); Nutzungsdaten (z.B. besuchte
							Webseiten, Interesse an Inhalten, Zugriffszeiten);
							Meta-/Kommunikationsdaten (z.B.
							Geräte-Informationen, IP-Adressen)
						</li>
						<li>
							Betroffene Personen: Nutzer (z.B. Webseitenbesucher,
							Nutzer von Onlinediensten)
						</li>
						<li>
							Zwecke der Verarbeitung: Bereitstellung unseres
							Onlineangebotes und Nutzerfreundlichkeit
						</li>
						<li>
							Rechtsgrundlagen: Berechtigte Interessen (Art. 6
							Abs. 1 S. 1 lit. f. DSGVO)
						</li>
					</div><br />
					Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:
					<br />
					<br />
					<div class="list-item ml-10">
						<li>
							Erhebung von Zugriffsdaten und Logfiles: Wir selbst
							(bzw. unser Webhostinganbieter) erheben Daten zu
							jedem Zugriff auf den Server (sogenannte
							Serverlogfiles). Zu den Serverlogfiles können die
							Adresse und Name der abgerufenen Webseiten und
							Dateien, Datum und Uhrzeit des Abrufs, übertragene
							Datenmengen, Meldung über erfolgreichen Abruf,
							Browsertyp nebst Version, das Betriebssystem des
							Nutzers, Referrer URL (die zuvor besuchte Seite) und
							im Regelfall IP-Adressen und der anfragende Provider
							gehören. Die Serverlogfiles können zum einen zu
							Zwecken der Sicherheit eingesetzt werden, z.B., um
							eine Überlastung der Server zu vermeiden
							(insbesondere im Fall von missbräuchlichen
							Angriffen, sogenannten DDoS-Attacken) und zum
							anderen, um die Auslastung der Server und ihre
							Stabilität sicherzustellen; Löschung von Daten:
							Logfile-Informationen werden für die Dauer von
							maximal 30 Tagen gespeichert und danach gelöscht
							oder anonymisiert. Daten, deren weitere Aufbewahrung
							zu Beweiszwecken erforderlich ist, sind bis zur
							endgültigen Klärung des jeweiligen Vorfalls von der
							Löschung ausgenommen.
						</li>
					</div>
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Kontakt-und-Anfragenverwaltung"
				>
					Kontakt- und Anfragenverwaltung
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular,
					E-Mail, Telefon oder via soziale Medien) sowie im Rahmen
					bestehender Nutzer- und Geschäftsbeziehungen werden die
					Angaben der anfragenden Personen verarbeitet soweit dies zur
					Beantwortung der Kontaktanfragen und etwaiger angefragter
					Maßnahmen erforderlich ist<br /><br />
					Die Beantwortung der Kontaktanfragen sowie die Verwaltung von
					Kontakt- und Anfragedaten im Rahmen von vertraglichen oder vorvertraglichen
					Beziehungen erfolgt zur Erfüllung unserer vertraglichen Pflichten
					oder zur Beantwortung von (vor)vertraglichen Anfragen und im
					Übrigen auf Grundlage der berechtigten Interessen an der Beantwortung
					der Anfragen und Pflege von Nutzer- bzw. Geschäftsbeziehungen.<br
					/><br />
					<div class="list-item ml-10">
						<li>
							Verarbeitete Datenarten: Bestandsdaten (z.B. Namen,
							Adressen); Kontaktdaten (z.B. E-Mail,
							Telefonnummern); Inhaltsdaten (z.B. Eingaben in
							Onlineformularen).
						</li>
						<li>Betroffene Personen: Kommunikationspartner.</li>
						<li>
							Zwecke der Verarbeitung: Kontaktanfragen und
							Kommunikation; Erbringung vertraglicher Leistungen
							und Kundenservice.
						</li>
						<li>
							Rechtsgrundlagen: Vertragserfüllung und
							vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b.
							DSGVO); Berechtigte Interessen (Art. 6 Abs. 1 S. 1
							lit. f. DSGVO); Rechtliche Verpflichtung (Art. 6
							Abs. 1 S. 1 lit. c. DSGVO).
						</li>
					</div><br />
					Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:<br
					/><br />
					<div class="list-item ml-10">
						Kontaktformular: Wenn Nutzer über unser Kontaktformular,
						E-Mail oder andere Kommunikationswege mit uns in Kontakt
						treten, verarbeiten wir die uns in diesem Zusammenhang
						mitgeteilten Daten zur Bearbeitung des mitgeteilten
						Anliegens. Zu diesem Zweck verarbeiten wir
						personenbezogene Daten im Rahmen vorvertraglicher und
						vertraglicher Geschäftsbeziehungen, soweit dies zu deren
						Erfüllung erforderlich ist und im Übrigen auf Grundlage
						unserer berechtigten Interessen sowie der Interessen der
						Kommunikationspartner an der Beantwortung der Anliegen
						und unserer gesetzlichen Aufbewahrungspflichten.
					</div>
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Webanalyse-Monitoring-und-Optimierung"
				>
					Webanalyse, Monitoring und Optimierung
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Die Webanalyse (auch als "Reichweitenmessung" bezeichnet)
					dient der Auswertung der Besucherströme unseres
					Onlineangebotes und kann Verhalten, Interessen oder
					demographische Informationen zu den Besuchern, wie z.B. das
					Alter oder das Geschlecht, als pseudonyme Werte umfassen.
					Mit Hilfe der Reichweitenanalyse können wir z.B. erkennen,
					zu welcher Zeit unser Onlineangebot oder dessen Funktionen
					oder Inhalte am häufigsten genutzt werden oder zur
					Wiederverwendung einladen. Ebenso können wir nachvollziehen,
					welche Bereiche der Optimierung bedürfen.<br /><br />
					Neben der Webanalyse können wir auch Testverfahren einsetzen,
					um z.B. unterschiedliche Versionen unseres Onlineangebotes oder
					seiner Bestandteile zu testen und optimieren.<br /><br />
					Sofern nachfolgend nicht anders angegeben, können zu diesen Zwecken
					Profile, d.h. zu einem Nutzungsvorgang zusammengefasste Daten
					angelegt und Informationen in einem Browser, bzw. in einem Endgerät
					gespeichert und aus diesem ausgelesen werden. Zu den erhobenen
					Angaben gehören insbesondere besuchte Webseiten und dort genutzte
					Elemente sowie technische Angaben, wie der verwendete Browser,
					das verwendete Computersystem sowie Angaben zu Nutzungszeiten.
					Sofern Nutzer in die Erhebung ihrer Standortdaten uns gegenüber
					oder gegenüber den Anbietern der von uns eingesetzten Dienste
					einverstanden erklärt haben, können auch Standortdaten verarbeitet
					werden.<br /><br />
					Es werden ebenfalls die IP-Adressen der Nutzer gespeichert. Jedoch
					nutzen wir ein IP-Masking-Verfahren (d.h., Pseudonymisierung
					durch Kürzung der IP-Adresse) zum Schutz der Nutzer. Generell
					werden die im Rahmen von Webanalyse, A/B-Testings und Optimierung
					keine Klardaten der Nutzer (wie z.B. E-Mail-Adressen oder Namen)
					gespeichert, sondern Pseudonyme. D.h., wir als auch die Anbieter
					der eingesetzten Software kennen nicht die tatsächliche Identität
					der Nutzer, sondern nur den für Zwecke der jeweiligen Verfahren
					in deren Profilen gespeicherten Angaben.<br /><br />
					Hinweise zu Rechtsgrundlagen: Sofern wir die Nutzer um deren
					Einwilligung in den Einsatz der Drittanbieter bitten, ist die
					Rechtsgrundlage der Verarbeitung von Daten die Einwilligung.
					Ansonsten werden die Daten der Nutzer auf Grundlage unserer berechtigten
					Interessen (d.h. Interesse an effizienten, wirtschaftlichen und
					empfängerfreundlichen Leistungen) verarbeitet. In diesem Zusammenhang
					möchten wir Sie auch auf die Informationen zur Verwendung von
					Cookies in dieser Datenschutzerklärung hinweisen.<br /><br
					/>
					<div class="list-item ml-10">
						<li>
							Verarbeitete Datenarten: Nutzungsdaten (z.B.
							besuchte Webseiten, Interesse an Inhalten,
							Zugriffszeiten); Meta-/Kommunikationsdaten (z.B.
							Geräte-Informationen, IP-Adressen)
						</li>
						<li>
							Betroffene Personen: Nutzer (z.B. Webseitenbesucher,
							Nutzer von Onlinediensten).
						</li>
						<li>
							Zwecke der Verarbeitung: Reichweitenmessung (z.B.
							Zugriffsstatistiken, Erkennung wiederkehrender
							Besucher); Profile mit nutzerbezogenen Informationen
							(Erstellen von Nutzerprofilen).
						</li>
						<li>
							Sicherheitsmaßnahmen: IP-Masking (Pseudonymisierung
							der IP-Adresse).
						</li>
						<li>
							Rechtsgrundlagen: Einwilligung (Art. 6 Abs. 1 S. 1
							lit. a. DSGVO); Berechtigte Interessen (Art. 6 Abs.
							1 S. 1 lit. f. DSGVO).
						</li>
					</div>
					<br />
					Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:<br
					/><br />
					<div class="list-item ml-10">
						<li>
							Google Analytics: Webanalyse, Reichweitenmessung
							sowie Messung von Nutzerströmen; Dienstanbieter:
							Google Ireland Limited, Gordon House, Barrow Street,
							Dublin 4, Irland, Mutterunternehmen: Google LLC,
							1600 Amphitheatre Parkway, Mountain View, CA 94043,
							USA; Website:<br />
							<a
								href="https://marketingplatform.google.com/intl/de/about/analytics/"
								target="_blank"
								class="underline"
							>
								https://marketingplatform.google.com/intl/de/about/analytics/</a
							>;<br /><br />
							Datenschutzerklärung:<br />
							<a
								href="https://policies.google.com/privacy"
								target="_blank"
								class="underline"
							>
								https://policies.google.com/privacy
							</a>;<br /><br />
							Auftragsverarbeitungsvertrag:<br />
							<a
								href="https://business.safety.google/adsprocessorterms"
								target="_blank"
								class="underline"
							>
								https://business.safety.google/adsprocessorterms</a
							>;<br /><br />
							Standardvertragsklauseln (Gewährleistung Datenschutzniveau
							bei Verarbeitung in Drittländern):<br />
							<a
								href="https://business.safety.google/adsprocessorterms"
								target="_blank"
								class="underline"
							>
								https://business.safety.google/adsprocessorterms</a
							>;<br /><br />
							Widerspruchsmöglichkeit (Opt-Out):<br /> Opt-Out-Plugin:<br
							/>
							<a
								href="https://tools.google.com/dlpage/gaoptout?hl=de"
								target="_blank"
								class="underline"
							>
								https://tools.google.com/dlpage/gaoptout?hl=de</a
							><br /><br />
							Einstellungen für die Darstellung von Werbeeinblendungen:<br
							/>
							<a
								href="https://adssettings.google.com/authenticated"
								target="_blank"
								class="underline"
							>
								https://adssettings.google.com/authenticated</a
							>;<br /><br />
							Weitere Informationen:<br />
							<a
								href="https://privacy.google.com/businesses/adsservices"
								target="_blank"
								class="underline"
							>
								https://privacy.google.com/businesses/adsservices</a
							><br />
							(Arten der Verarbeitung sowie der verarbeiteten Daten).
						</li>
					</div>
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Plugins-und-eingebettete-Funktionen-sowie-Inhalte"
				>
					Plugins und eingebettete Funktionen sowie Inhalte
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Wir binden in unser Onlineangebot Funktions- und
					Inhaltselemente ein, die von den Servern ihrer jeweiligen
					Anbieter (nachfolgend bezeichnet als "Drittanbieter”)
					bezogen werden. Dabei kann es sich zum Beispiel um Grafiken,
					Videos oder Stadtpläne handeln (nachfolgend einheitlich
					bezeichnet als "Inhalte”).<br /><br />
					Die Einbindung setzt immer voraus, dass die Drittanbieter dieser
					Inhalte die IP-Adresse der Nutzer verarbeiten, da sie ohne die
					IP-Adresse die Inhalte nicht an deren Browser senden könnten.
					Die IP-Adresse ist damit für die Darstellung dieser Inhalte oder
					Funktionen erforderlich. Wir bemühen uns, nur solche Inhalte
					zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich
					zur Auslieferung der Inhalte verwenden. Drittanbieter können
					ferner sogenannte Pixel-Tags (unsichtbare Grafiken, auch als
					"Web Beacons" bezeichnet) für statistische oder Marketingzwecke
					verwenden. Durch die "Pixel-Tags" können Informationen, wie der
					Besucherverkehr auf den Seiten dieser Webseite, ausgewertet werden.
					Die pseudonymen Informationen können ferner in Cookies auf dem
					Gerät der Nutzer gespeichert werden und unter anderem technische
					Informationen zum Browser und zum Betriebssystem, zu verweisenden
					Webseiten, zur Besuchszeit sowie weitere Angaben zur Nutzung
					unseres Onlineangebotes enthalten als auch mit solchen Informationen
					aus anderen Quellen verbunden werden.<br /><br />
					Hinweise zu Rechtsgrundlagen: Sofern wir die Nutzer um deren
					Einwilligung in den Einsatz der Drittanbieter bitten, ist die
					Rechtsgrundlage der Verarbeitung von Daten die Einwilligung.
					Ansonsten werden die Daten der Nutzer auf Grundlage unserer berechtigten
					Interessen (d.h. Interesse an effizienten, wirtschaftlichen und
					empfängerfreundlichen Leistungen) verarbeitet. In diesem Zusammenhang
					möchten wir Sie auch auf die Informationen zur Verwendung von
					Cookies in dieser Datenschutzerklärung hinweisen.<br /><br
					/>
					<div class="list-item ml-10">
						<li>
							Verarbeitete Datenarten: Nutzungsdaten (z.B.
							besuchte Webseiten, Interesse an Inhalten,
							Zugriffszeiten); Meta-/Kommunikationsdaten (z.B.
							Geräte-Informationen, IP-Adressen).
						</li>
						<li>
							Betroffene Personen: Nutzer (z.B. Webseitenbesucher,
							Nutzer von Onlinediensten)
						</li>
						<li>
							Zwecke der Verarbeitung: Bereitstellung unseres
							Onlineangebotes und Nutzerfreundlichkeit; Erbringung
							vertraglicher Leistungen und Kundenservice.
						</li>
						<li>
							Rechtsgrundlagen: Berechtigte Interessen (Art. 6
							Abs. 1 S. 1 lit. f. DSGVO).
						</li>
					</div>
					<br />
					Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:<br
					/><br />
					<div class="list-item ml-10">
						<li>
							Einbindung von Drittsoftware, Skripten oder
							Frameworks (z. B. jQuery): Wir binden in unser
							Onlineangebot Software ein, die wir von Servern
							anderer Anbieter abrufen (z.B.
							Funktions-Bibliotheken, die wir zwecks Darstellung
							oder Nutzerfreundlichkeit unseres Onlineangebotes
							verwenden). Hierbei erheben die jeweiligen Anbieter
							die IP-Adresse der Nutzer und können diese zu
							Zwecken der Übermittlung der Software an den Browser
							der Nutzer sowie zu Zwecken der Sicherheit, als auch
							zur Auswertung und Optimierung ihres Angebotes
							verarbeiten. - Wir binden in unser Onlineangebot
							Software ein, die wir von Servern anderer Anbieter
							abrufen (z.B. Funktions-Bibliotheken, die wir zwecks
							Darstellung oder Nutzerfreundlichkeit unseres
							Onlineangebotes verwenden). Hierbei erheben die
							jeweiligen Anbieter die IP-Adresse der Nutzer und
							können diese zu Zwecken der Übermittlung der
							Software an den Browser der Nutzer sowie zu Zwecken
							der Sicherheit, als auch zur Auswertung und
							Optimierung ihres Angebotes verarbeiten.
						</li>
						<li>
							Google Fonts: Bezug von Schriftarten ("Google
							Fonts") vom Anbieter Google zum Zwecke einer
							technisch sicheren, wartungsfreien und effizienten
							Nutzung von Schriftarten im Hinblick auf Aktualität
							und Ladezeiten, deren einheitliche Darstellung und
							Berücksichtigung möglicher lizenzrechtlicher
							Beschränkungen. Google wird die IP-Adresse des
							Nutzers mitgeteilt, damit Google die Schriften im
							Browser der Nutzer bereitstellen kann. Darüber
							hinaus werden technische Daten (Spracheinstellungen,
							Bildschirmauflösung, Betriebssystem, verwendete
							Hardware) übermittelt, die für die Bereitstellung
							der Schriftarten in Abhängigkeit von den verwendeten
							Geräten und der technischen Umgebung erforderlich
							sind. ; Dienstanbieter: Google Ireland Limited,
							Gordon House, Barrow Street, Dublin 4, Irland,
							Mutterunternehmen: Google LLC, 1600 Amphitheatre
							Parkway, Mountain View, CA 94043, USA; Website:
							<a
								href="https://fonts.google.com/"
								target="_blank"
								class="underline">https://fonts.google.com/</a
							>; Datenschutzerklärung:
							<a
								href="https://policies.google.com/privacy"
								target="_blank"
								class="underline"
							>
								https://policies.google.com/privacy</a
							>.
						</li>
						<li>
							Cloudflare: Wir nutzen das Content Delivery Network
							(CDN) von Cloudflare Germany GmbH, Rosental 7, c/o
							Mindspace, 80331 München Deutschland (Cloudflare),
							um die Sicherheit und die
							Auslieferungsgeschwindigkeit unserer Website zu
							erhöhen. Dies entspricht unserem berechtigten
							Interesse (Art. 6 Abs. 1 lit. f DSGVO). Ein CDN ist
							ein Netzwerk aus [weltweit] verteilten Servern, das
							in der Lage ist, optimiert Inhalte an den
							Websitenutzer auszuliefern. Für diesen Zweck können
							personenbezogene Daten in Server-Logfiles von
							Cloudflare verarbeitet werden. Bitte vergleichen Sie
							die Ausführungen unter „Hosting“. Cloudflare ist
							Empfänger Ihrer personenbezogenen Daten und als
							Auftragsverarbeiter für uns tätig. Die entspricht
							unserem berechtigten Interesse im Sinne des Art. 6
							Abs. 1 S. 1 lit. f DSGVO, selbst kein Content
							Delivery Network zu betreiben. Sie haben das Recht
							der Verarbeitung zu widersprechen. Ob der
							Widerspruch erfolgreich ist, ist im Rahmen einer
							Interessenabwägung zu ermitteln. Die Verarbeitung
							der unter diesem Abschnitt angegebenen Daten ist
							weder gesetzlich noch vertraglich vorgeschrieben.
							Die Funktionsfähigkeit der Website ist ohne die
							Verarbeitung nicht gewährleistet. Ihre
							personenbezogenen Daten werden von Cloudflare so
							lange gespeichert, wie es für die beschriebenen
							Zwecke erforderlich ist. Weitere Informationen zu
							Widerspruchs- und Beseitigungsmöglichkeiten
							gegenüber Cloudflare finden Sie unter: Cloudflare
							DPA Cloudflare hat Compliance-Maßnahmen für
							internationale Datenübermittlungen umgesetzt. Diese
							gelten für alle weltweiten Aktivitäten, bei denen
							Cloudflare personenbezogene Daten von natürlichen
							Personen in der EU verarbeitet. Diese Maßnahmen
							basieren auf den EU-Standardvertragsklauseln (SCCs).
							Weitere Informationen finden Sie unter:
							<a
								href="https://www.cloudflare.com/cloudflare_customer_SCCs-German.pdf"
								target="_blank"
								class="underline"
							>
								https://www.cloudflare.com/cloudflare_customer_SCCs-German.pdf</a
							>
						</li>
					</div>
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Änderung-und-Aktualisierung-der-Datenschutzerklärung"
				>
					Änderung und Aktualisierung der Datenschutzerklärung
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Wir bitten Sie, sich regelmäßig über den Inhalt unserer
					Datenschutzerklärung zu informieren. Wir passen die
					Datenschutzerklärung an, sobald die Änderungen der von uns
					durchgeführten Datenverarbeitungen dies erforderlich machen.
					Wir informieren Sie, sobald durch die Änderungen eine
					Mitwirkungshandlung Ihrerseits (z.B. Einwilligung) oder eine
					sonstige individuelle Benachrichtigung erforderlich wird.<br
					/><br />
					Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen
					von Unternehmen und Organisationen angeben, bitten wir zu beachten,
					dass die Adressen sich über die Zeit ändern können und bitten
					die Angaben vor Kontaktaufnahme zu prüfen.
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Rechte-der-betroffenen-Personen"
				>
					Rechte der betroffenen Personen
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					Ihnen stehen als Betroffene nach der DSGVO verschiedene
					Rechte zu, die sich insbesondere aus Art. 15 bis 21 DSGVO
					ergeben:<br /><br />
					<div class="ml-10 list-item">
						<li>
							Widerspruchsrecht: Sie haben das Recht, aus Gründen,
							die sich aus Ihrer besonderen Situation ergeben,
							jederzeit gegen die Verarbeitung der Sie
							betreffenden personenbezogenen Daten, die aufgrund
							von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt,
							Widerspruch einzulegen; dies gilt auch für ein auf
							diese Bestimmungen gestütztes Profiling. Werden die
							Sie betreffenden personenbezogenen Daten
							verarbeitet, um Direktwerbung zu betreiben, haben
							Sie das Recht, jederzeit Widerspruch gegen die
							Verarbeitung der Sie betreffenden personenbezogenen
							Daten zum Zwecke derartiger Werbung einzulegen; dies
							gilt auch für das Profiling, soweit es mit solcher
							Direktwerbung in Verbindung steht.
						</li>
						<li>
							Widerrufsrecht bei Einwilligungen: Sie haben das
							Recht, erteilte Einwilligungen jederzeit zu
							widerrufen.
						</li>
						<li>
							Auskunftsrecht: Sie haben das Recht, eine
							Bestätigung darüber zu verlangen, ob betreffende
							Daten verarbeitet werden und auf Auskunft über diese
							Daten sowie auf weitere Informationen und Kopie der
							Daten entsprechend den gesetzlichen Vorgaben.
						</li>
						<li>
							Recht auf Berichtigung: Sie haben entsprechend den
							gesetzlichen Vorgaben das Recht, die
							Vervollständigung der Sie betreffenden Daten oder
							die Berichtigung der Sie betreffenden unrichtigen
							Daten zu verlangen.
						</li>
						<li>
							Recht auf Löschung und Einschränkung der
							Verarbeitung: Sie haben nach Maßgabe der
							gesetzlichen Vorgaben das Recht, zu verlangen, dass
							Sie betreffende Daten unverzüglich gelöscht werden,
							bzw. alternativ nach Maßgabe der gesetzlichen
							Vorgaben eine Einschränkung der Verarbeitung der
							Daten zu verlangen.
						</li>
						<li>
							Recht auf Datenübertragbarkeit: Sie haben das Recht,
							Sie betreffende Daten, die Sie uns bereitgestellt
							haben, nach Maßgabe der gesetzlichen Vorgaben in
							einem strukturierten, gängigen und maschinenlesbaren
							Format zu erhalten oder deren Übermittlung an einen
							anderen Verantwortlichen zu fordern.
						</li>
						<li>
							Beschwerde bei Aufsichtsbehörde: Sie haben
							unbeschadet eines anderweitigen
							verwaltungsrechtlichen oder gerichtlichen
							Rechtsbehelfs das Recht auf Beschwerde bei einer
							Aufsichtsbehörde, insbesondere in dem Mitgliedstaat
							ihres gewöhnlichen Aufenthaltsorts, ihres
							Arbeitsplatzes oder des Orts des mutmaßlichen
							Verstoßes, wenn Sie der Ansicht sind, dass die
							Verarbeitung der Sie betreffenden personenbezogenen
							Daten gegen die Vorgaben der DSGVO verstößt.
						</li>
					</div>
				</span>
				<span
					class="text-white lg:text-5xl text-3xl font-grotesque font-extrabold mb-4 mt-10"
					id="Begriffsdefinitionen"
				>
					Begriffsdefinitionen
				</span>
				<span class="text-gray-400 lg:text-xl text-base">
					In diesem Abschnitt erhalten Sie eine Übersicht über die in
					dieser Datenschutzerklärung verwendeten Begrifflichkeiten.
					Viele der Begriffe sind dem Gesetz entnommen und vor allem
					im Art. 4 DSGVO definiert. Die gesetzlichen Definitionen
					sind verbindlich. Die nachfolgenden Erläuterungen sollen
					dagegen vor allem dem Verständnis dienen. Die Begriffe sind
					alphabetisch sortiert.<br /><br />
					<div class="list-item ml-10">
						<li>
							Personenbezogene Daten: "Personenbezogene Daten“
							sind alle Informationen, die sich auf eine
							identifizierte oder identifizierbare natürliche
							Person (im Folgenden "betroffene Person“) beziehen;
							als identifizierbar wird eine natürliche Person
							angesehen, die direkt oder indirekt, insbesondere
							mittels Zuordnung zu einer Kennung wie einem Namen,
							zu einer Kennnummer, zu Standortdaten, zu einer
							Online-Kennung (z.B. Cookie) oder zu einem oder
							mehreren besonderen Merkmalen identifiziert werden
							kann, die Ausdruck der physischen, physiologischen,
							genetischen, psychischen, wirtschaftlichen,
							kulturellen oder sozialen Identität dieser
							natürlichen Person sind.
						</li>
						<li>
							Profile mit nutzerbezogenen Informationen: Die
							Verarbeitung von "Profilen mit nutzerbezogenen
							Informationen", bzw. kurz "Profilen" umfasst jede
							Art der automatisierten Verarbeitung
							personenbezogener Daten, die darin besteht, dass
							diese personenbezogenen Daten verwendet werden, um
							bestimmte persönliche Aspekte, die sich auf eine
							natürliche Person beziehen (je nach Art der
							Profilbildung können dazu unterschiedliche
							Informationen betreffend die Demographie, Verhalten
							und Interessen, wie z.B. die Interaktion mit
							Webseiten und deren Inhalten, etc.) zu analysieren,
							zu bewerten oder, um sie vorherzusagen (z.B. die
							Interessen an bestimmten Inhalten oder Produkten,
							das Klickverhalten auf einer Webseite oder den
							Aufenthaltsort). Zu Zwecken des Profilings werden
							häufig Cookies und Web-Beacons eingesetzt.
						</li>
						<li>
							Reichweitenmessung: Die Reichweitenmessung (auch als
							Web Analytics bezeichnet) dient der Auswertung der
							Besucherströme eines Onlineangebotes und kann das
							Verhalten oder Interessen der Besucher an bestimmten
							Informationen, wie z.B. Inhalten von Webseiten,
							umfassen. Mit Hilfe der Reichweitenanalyse können
							Webseiteninhaber z.B. erkennen, zu welcher Zeit
							Besucher ihre Webseite besuchen und für welche
							Inhalte sie sich interessieren. Dadurch können sie
							z.B. die Inhalte der Webseite besser an die
							Bedürfnisse ihrer Besucher anpassen. Zu Zwecken der
							Reichweitenanalyse werden häufig pseudonyme Cookies
							und Web-Beacons eingesetzt, um wiederkehrende
							Besucher zu erkennen und so genauere Analysen zur
							Nutzung eines Onlineangebotes zu erhalten.
						</li>
						<li>
							Verantwortlicher: Als "Verantwortlicher“ wird die
							natürliche oder juristische Person, Behörde,
							Einrichtung oder andere Stelle, die allein oder
							gemeinsam mit anderen über die Zwecke und Mittel der
							Verarbeitung von personenbezogenen Daten
							entscheidet, bezeichnet.
						</li>
						<li>
							Verarbeitung: "Verarbeitung" ist jeder mit oder ohne
							Hilfe automatisierter Verfahren ausgeführte Vorgang
							oder jede solche Vorgangsreihe im Zusammenhang mit
							personenbezogenen Daten. Der Begriff reicht weit und
							umfasst praktisch jeden Umgang mit Daten, sei es das
							Erheben, das Auswerten, das Speichern, das
							Übermitteln oder das Löschen.
						</li>
					</div>
				</span>
			</div>
		</div>
	</main>
</Layout>
